html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';


}
.label {
  display: block;
}
.timer{
  display: flex;
  /* background-color: beige;  */
  justify-content: center;
  width: auto;

}
.field{
  width: 70px;
  height: 60px; 
  text-align: center;
  margin: 20px;
  padding: 5px;
    
}